.pill-button {
  font-size: 1rem;
  padding: var(--size-1) var(--size-2);
  width: fit-content;
  background-color: var(--surface2) !important;
  opacity: 0.9;
  position: relative;
}

.pill-button-selected {
  background-color: var(--surface4) !important;
  opacity: 1;
}
