.custom-button:not([color-scheme]) {
  background-color: transparent;
}

.custom-button[color-scheme] {
  background-color: var(--surface1);
}

.button,
.custom-button {
  color: var(--text1);
  min-height: 1rem;
  min-width: 1rem;
  margin: var(--size-1);
  display: inline-flex;
  white-space: nowrap;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-5);

  padding-left: var(--size-6);
  padding-right: var(--size-6);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);

  border: var(--border-size-2) solid var(--surface3);
  border-radius: var(--radius-5);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button:hover,
.custom-button:hover,
.custom-button:focus {
  border: var(--border-size-2) solid var(--surface4);
  text-decoration: none;
}

.custom-button[aria-pressed="true"],
.custom-button:focus {
  border: var(--border-size-2) solid var(--accent);
}

:where(
    .custom-button,
    input:is([type="button"], [type="submit"], [type="reset"])
  ):where(:not(:active):hover) {
  transition-delay: 0s;
  transition-duration: 0.25s;
}

.icon-button {
  display: flex;
  gap: 0.5rem;
}

.icon-button-reversed {
  flex-direction: row-reverse;
}

.custom-button.custom-button-filled {
  background-color: var(--surface2);
}

.pill {
  font-size: 1rem;
  padding: var(--size-1) var(--size-2);
  width: fit-content;
  background-color: var(--surface2) !important;
  opacity: 0.9;
  position: relative;
}

.pill-selected {
  background-color: var(--surface4) !important;
  opacity: 1;
}