.custom-button:not([color-scheme]) {
  background-color: transparent;
}

.custom-button[color-scheme] {
  background-color: var(--surface1);
}

.button,
.custom-button {
  color: var(--text1);
  min-height: 1rem;
  min-width: 1rem;
  margin: var(--size-1);
  display: inline-flex;
  white-space: nowrap;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-5);

  padding-left: var(--size-6);
  padding-right: var(--size-6);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);

  border: var(--border-size-2) solid var(--surface3);
  border-radius: var(--radius-5);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button:hover,
.custom-button:hover,
.custom-button:focus {
  border: var(--border-size-2) solid var(--surface4);
  text-decoration: none;
}

.custom-button[aria-pressed="true"],
.custom-button:focus {
  border: var(--border-size-2) solid var(--accent);
}

:where(
    .custom-button,
    input:is([type="button"], [type="submit"], [type="reset"])
  ):where(:not(:active):hover) {
  transition-delay: 0s;
  transition-duration: 0.25s;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-1) var(--size-2);
  border: none;
  background-color: var(--surface4);
  color: var(--text1);
  cursor: pointer;
  border-radius: var(--radius-2);
  font-size: var(--size-2);
  text-transform: uppercase;
  min-width: 1rem;
  font-weight: bold;
  transition: background-color 0.2s var(--ease-2);
}

.icon-button:hover {
  background-color: var(--surface3);
}

.icon-button a {
  color: inherit;
}

.icon-button a:hover {
  text-decoration: none;
}