:root {
  --min-child-size: 145px;
}

.scroll-container {
  position: relative;
  display: flex;
}

.scroll-container:hover .scroller-button {
  opacity: 1;

}

/* .scroll-container:hover .scroller-button {
  color: var(--text1);
  background: var(--accent);
} */



.hscroll {
  display: flex;
  padding: var(--size-1) 0 var(--size-3) 0;
  background: var(--max-visible-children);
}

.max-visible-children > * {
  width: max(
    var(--min-child-size),
    calc(100% / var(--max-visible-children) - calc(var(--size-1) * 2))
  );
  min-width: max(
    var(--min-child-size),
    calc(100% / var(--max-visible-children) - calc(var(--size-1) * 2))
  );
}

.max-visible-children > * img {
  width: 100%;
  max-width: 100%;
}

.hscroll > *:not(:last-child) {
  margin-right: var(--size-2);
}

.hscroll > *:not(:first-child) {
  margin-left: var(--size-2);
}

:root .scroller-button {
  background: var(--surface1);
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border-radius: var(--radius-2);
  width: 2rem;
  min-width: 44px;
  padding: 0;
  border-color: var(--accent);
  border-radius: 1px;
  border-style: solid;
  height: 80%;
  font-size: 1rem;
  z-index: 100;
  opacity: 0.75;
  transition: 0.25s ease-in-out opacity;
}

:root .scroller-button:disabled {
  opacity: 0;
}

.scroller-button--left {
  left: -20px;
}

.scroller-button--right {
  right: -20px;
}

/* .scroller-button:focus {
  border: 1px solid var(--accent);
} */
