:root {
  --min-child-size: 145px;
}

.scroll-container {
  position: relative;
  display: flex;
}

.scroll-container:hover .scroller-button {
  opacity: 1;
}

.hscroll {
  display: flex;
  padding: var(--size-1) 0 var(--size-3) 0;
  background: var(--max-visible-children);
}

.max-visible-children > * {
  width: max(
    var(--min-child-size),
    calc(100% / var(--max-visible-children) - calc(var(--size-1) * 2))
  );
  min-width: max(
    var(--min-child-size),
    calc(100% / var(--max-visible-children) - calc(var(--size-1) * 2))
  );
}

.max-visible-children > * img {
  width: 100%;
  max-width: 100%;
}

.hscroll > *:not(:last-child) {
  margin-right: var(--size-1);
}

.hscroll > *:not(:first-child) {
  margin-left: var(--size-1);
}

:root .scroller-button {
  background: var(--accent);
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border-radius: var(--radius-2);
  width: 1rem;
  padding: 0;
  border: none;
  height: 2rem;
  font-size: 1rem;
  min-width: 2rem;
  z-index: 100;
  opacity: 0;
  transition: 0.25s ease-in-out opacity;
}

:root .scroller-button:disabled {
  opacity: 0;
}

.scroller-button--left {
  left: -20px;
}

.scroller-button--right {
  right: -20px;
}

@media screen and (max-width: 600px) {
  .scroller-button {
    display: none;
  }
}
